/* making the page responsive */

body {
  font-family: "Muller", "Arial", sans-serif;
}
* {
  box-sizing: border-box;
}

[class*="col-"] {
  width: 100%;
  padding: 10px;
  float: left;
}


@media only screen and (min-width: 600px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .popup {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -180px;
   margin-top: -180px;
  }

  footer .col-9 p {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .logo, .container-social {
    display: none;
  }
  figcaption {
    text-align: center;
  }
  footer .col-9 {
    padding-top: 5px;
  }

  .popup {
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    top: 75px;
   }

}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* general styles */


input {
  background: white;
  border: 1px solid lightskyblue;
  border-radius: 5px;
  padding: 5px;
}

input[type="submit"], input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
}

input[type="submit"] {
  cursor: pointer;
  border: 1px solid lightgreen;
  color: green;
}

input[type="submit"]:hover {
  background: lightgreen;
  color: white;
}
  
/* header */

header {
  background-color: #3B3B6D;
  color: white;
  width: 100%;
}

  /* main menu */
  
.main-menu {
  padding: 0;
}
  .main-menu li {
     display: inline;
  }
   
  .main-menu li a {
      display: inline-block;
      color: white;
      border-left: 2px solid white;
  }
  
  .main-menu li a:hover {
    background-color: #77a6f7;
  }
  
  /* logo */
  
  header figure {
    padding: 0;
    padding-top: 20px;
  }

  header figure figcaption {
     font-size: 1.25em; 
     font-weight: bold;
     margin-top: 5px;
  }

  header figure .logo {
    max-width: 75px;
  }
  
  /* form*/
  
  header form {
    text-align: left;
    margin-top: 10px;
  }

  header form input {
    margin-bottom: 5px;
  }
  
  header form a {
    color: grey;
    font-size: 0.9em;
    padding-left: 5px;
  }
  
  header form a:hover {
    color: white;
  }
  
  /* sign up popup */
  
  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(152,152,152,0.75);
    z-index: 10;
    display: none;
  }
  
  .overlay-sign-up-form .popup {
    width: 360px;
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: white;

  }
  
  .overlay-sign-up-form .popup h1 {
    text-align: center;
    font-size: 1.25em;
    margin: 10px;
  }
  .overlay-sign-up-form .popup input {
    margin: 5px 0px;
  }
  
  .overlay-sign-up-form .popup label {
    margin: 5px 10px;
  }
  
  
  .overlay-sign-up-form .popup input[type="button"] {
    background: none;
    border: none;
    font-size: 1.5em;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .overlay-sign-up-form .popup input[type="checkbox"], .popup input[type="submit"] {
    cursor: pointer;
  }
  
  /* restore password popup */
  
  
  .overlay-restore-password-form .popup {
    width: 360px;
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: white;
    text-align: center;
  }
  
  .overlay-restore-password-form .popup input[type="button"] {
    background: none;
    padding: 5px;
    border: none;
    font-size: 1.5em;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
 
  
  .overlay-restore-password-form .popup label, .overlay-restore-password-form .popup input[type="email"] {
    margin: 5px 0px;
  } 

  .overlay-restore-password-form .popup h1 {
    font-size: 1.25em;
  }
  
  /* side menu */

  .side-menu, .side-menu li {
    padding: 0;
    margin-left: -10px;
  }
 
  .side-menu a {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      display: block;
      padding: 10px 0;
      border-bottom: 2px solid #3B3B6D;
  }
  
  .side-menu a:hover {
      background-color: #77a6f7;
      transform: scale(1.1); 
  }
  
  
  /* main content */
  
  .content-box {
    margin-bottom: 100px;
  }
  
  .content-box h1 {
    font-size: 3em;
    margin: 10px;
  }
  
  .content-box h2 {
    font-size: 2em;
    margin: 10px;
  }
  
  .content-box p {
    margin: 5px;
    padding: 5px;
    line-height: 1.2em;
  }
  
  /*social icons*/

  .social {
    display: block;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: url("sprites-social.png") no-repeat 0 0;
  }
  
  .social-fb {
    background-position: -48px 0;
  }
  
  .social-inst {
    background-position: -240px 0;
  }
  
  .social-tw:hover {
    background-position: 0 -48px;
    transform: scale(1.1); 
  }
  
  .social-fb:hover {
    background-position: -48px -48px;
    transform: scale(1.1); 
  }
  
  .social-inst:hover {
    background-position: -240px -48px;
    transform: scale(1.1); 
  }

  /*footer*/

  footer {
    background-color: #3B3B6D;
    max-height: 100px;
    color: white;
    width: 100%;
    font-size: 0.75em;
    position: fixed;
    bottom: 0;
    opacity: 0.75;
  }

  footer:hover {
    opacity: 1;
  }

  footer .col-9 {
    border-left: 1px solid lightgrey;
    margin: 5px;
    padding: 5px;
  }